<div class="card">
  <div class="card-header">
    <h4 class="my-0"><%= t('messages.purchase_items') %></h4>
  </div>
  <table class="table table-hover mb-0">
    <thead>
    <tr>
      <th><%= Purchaser.human_attribute_name :name %></th>
      <th><%= Item.human_attribute_name :name %></th>
      <th><%= PurchaseItem.human_attribute_name :item_count %></th>
      <th><%= PurchaseItem.human_attribute_name :item_price %></th>
      <th><%= PurchaseItem.human_attribute_name :total_price %></th>
      <th><%= Merchant.human_attribute_name :name %></th>
      <th><%= MerchantBranch.human_attribute_name :address %></th>
    </tr>
    </thead>
    <tbody>
    <% purchase_items.each do |purchase_item| %>
    <tr>
      <td><%= purchase_item.purchaser_name %></td>
      <td><%= purchase_item.item_name %></td>
      <td class="text-right"><%= purchase_item.item_count %></td>
      <td class="text-right"><%= purchase_item.item_price %></td>
      <td class="text-right"><%= purchase_item.total_price %></td>
      <td><%= purchase_item.merchant_name %></td>
      <td><%= purchase_item.merchant_branch_address %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
